<div class='flex justify-between'>
  <h1 class="text-2xl font-semibold">Items</h1>
  <%= link_to 'new item', new_item_path, class:'px-4 py-2 bg-indigo-600 hover:bg-indigo-800 text-white rounded-lg shadow-lg'%>
</div>
<h2 class="text-sm text-stone-300 opacity-60"><%=link_to "<- Home", root_path %></h2> 


<section class='mt-6 grid grid-cols-1 sm:grid-cols-3 gap-x-6 gap-y-6'>
 <% @items.each do |item| %>
  <% if item.is_done? %>
   
    <div class='flex justify-between items-center shadow-md p-4 bg-indigo-300 border border-teal-400 transition duration-300 hover:shadow-lg rounded-lg'>
      <div>
      <h2 class='text-lg font-medium'><%=link_to item.title, item_path(item)%></h2>
      <p><%=item.expected_cost%></p>
      </div>
      <div>
        <%=button_to 'Delete', item, method: :delete, class: 'ml-1 px-3 py-1.5 bg-rose-100 hover:bg-rose-300 opacity-60  hover:shadow-xl text-rose-600 rounded-lg shadow-lg'%>
      </div>
    </div>
  <% else %>
    <div class='flex justify-between items-center shadow-md p-4 bg-indigo-300  transition duration-300 hover:shadow-lg rounded-lg'>
      <div>
      <h2 class='text-lg font-medium'><%=link_to item.title, item_path(item)%></h2>
      <p><%=item.expected_cost%></p>
      </div>
      <div>
        <%=button_to 'Done', item, method: :patch,params: {item: {is_done: true} } , class: 'px-3 py-1.5 border hover:bg-indigo-400 hover:shadow-xl text-indigo-500 border-indigo-500 rounded-lg shadow-lg'%>
      </div>
    </div>
  <% end %>
 <% end %>
</section>

